.title-card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: auto;
    margin: 1rem 0;
    background-color: var(--dark-blue);
    border-radius: 1rem;

    @media only screen and (min-width: 481px) {
        width: 25%;
        height: 100%;
        margin: 0;
    }

    .title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 65%;
        padding: 2.5rem 0;
        background-color: var(--blue);
        border-radius: 1rem;

        @media only screen and (min-width: 481px) {
            flex-direction: column;
            padding: 1rem;
        }

        img {
            display: block;
            width: 20%;
            height: auto;
            margin-right: 1rem;
            border: 4px solid white;
            border-radius: 5rem;
            
            @media only screen and (min-width: 481px) {
                margin-right: auto;
                height: 30%;
                width: auto;
            }
        }

        .text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 60%;
            height: 100%;

            @media only screen and (min-width: 481px) {
                height: 60%;
                margin-right: auto;
            }

            & > * {
                color: var(--pale-blue);
            }

            .name-span {
                font-size: 1.5rem;
                font-weight: 500;
            }
        }
    }

    .buttons-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        flex: 1;

        @media only screen and (min-width: 481px) {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            padding: .5rem;
        }

        button {
            background-color: transparent;
            border: transparent;
            outline: transparent;
            padding: 1rem;
            font-size: var(--font-card-title);
            color: var(--desaturated-blue);
            cursor: pointer;

            @media only screen and (min-width: 481px) {
                width: auto;
                height: 30%;
                padding: .5rem;
                font-size: 16px;
            }

            &.active {
                color: var(--pale-blue);
            }

            &:hover {
                color: var(--pale-blue);
            }
        }
    }
}